     	img {
     		 box-sizing: content-box;
     	}
     	.logo {
     		display: block;
     		margin-left: auto;
     		margin-right: auto;
     	}
        
        header, footer {
                         display: block;
                         background-color: #ffd11a;
                         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        section {
                  display: block;
                  background-color: #2eb82e;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        nav {
             display: inline;
             box-sizing: content-box;
        }

        a:link, a:visited {
                           color: #2eb82e;
                           text-decoration: none;
        }
        
        a:hover, a:active {
                           color:#adebad;
        }

        a:link#nav, a:visited#nav {
                           background-color: #2eb82e;
                           color: white;
                           padding: 14px;
                           text-align: center;
                           text-decoration: none;
                           display: block;
        }

        a:hover#nav, a:active#nav {
                           background-color: #adebad;
        }

        p, ul, ol, h1, h3, a {
        	       font-family: arial;
        } 
         
        a:link#contact, a:visited#contact {
                           background-color: #ffd11a;
                           color: white;
                           padding: 14px 18px;
                           text-align: center;
                           text-decoration: none;
                           display: inline-block;
        }

        a:hover#contact, a:active#contact {
                           background-color: #fff0b3;
                       }
        caption {
                 font-style: italic;
                 font-size:12px;
        }
   
